@{
    ViewBag.Title = "Whilliams Hill Code Test";
}

<div ng-controller="betsController">
    <h2>Upload file</h2>
    <input type="file" nv-file-select uploader="uploader" />
    <div ng-show="fileUploaded">
        <select name="typeBet" ng-model="data.betType">
            <option value="1">Settled</option>
            <option value="2">Unsettled</option>
        </select>
        <button class="btn btn-primary" type="button" ng-click="processFile()">Process File</button>
    </div>
</div>