@{
    ViewBag.Title = "Whilliams Hill Code Test";
}
<div ng-controller="betsController">
    <div class="row">
        <div class="col-md-6">
            <h2>Upload Bets</h2>
            <input type="file" nv-file-select uploader="uploader" />
            <div ng-show="fileUploaded">
                <select name="typeBet" ng-model="data.betType">
                    <option value="1">Settled</option>
                    <option value="2">Unsettled</option>
                </select>
                <button class="btn btn-primary" type="button" ng-click="processFile()">Process File</button>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Settled bets</td>
                        <td>{{totalSettledBets}} </td>
                    </tr>
                    <tr>
                        <td>Unsettled bets</td>
                        <td>{{totalUnsettledBets}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <button class="btn btn-warning btn-sm" type="button" ng-click="showCustomersWithWinnings()">Customers with high winnings</button>
        <button class="btn btn-danger btn-sm" type="button" ng-click="showUnsettledBetsFromWinners()">Unsettled from customer with high winnings</button>
        <button class="btn btn-danger btn-sm" type="button" ng-click="showUnsettledOver(10)">Unsettled 10 times over average</button>
        <button class="btn btn-danger btn-sm" type="button" ng-click="showUnsettledOver(30)">Unsettled 30 times over average</button>
        <button class="btn btn-danger btn-sm" type="button" ng-click="showUnsettledWouldWinOver(1000)">Unsettled would win more than $1,000</button>
    </div>
    <br />
    <table class="table table-hover table-condensed table-bordered" ng-show="showHistoric">
        <thead>
            <tr>
                <th>CustomerID</th>
                <th>Total Bets</th>
                <th>Total Staked</th>
                <th>Total Won</th>
                <th>Profit (percentange)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="warning" ng-repeat="customer in historicsCustomers">
                <td class="text-right">{{ customer.CustomerID }} </td>
                <td class="text-right">{{ customer.Bets | number }} </td>
                <td class="text-right">{{ customer.TotalStaked | number:2 }} </td>
                <td class="text-right">{{ customer.TotalWon | number:2 }} </td>
                <td class="text-right">{{ customer.TotalWonPercentege | number:2 }}% </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover table-condensed table-bordered" ng-show="showUnsettled">
        <thead>
            <tr>
                <th>CustomerID</th>
                <th>Event</th>
                <th>Participant</th>
                <th>Staked</th>
                <th>To Win</th>
            </tr>
        </thead>
        <tbody>
            <tr class="warning" ng-repeat="customer in unsettledBets">
                <td class="text-right">{{ customer.CustomerID }} </td>
                <td class="text-right">{{ customer.EventID }} </td>
                <td class="text-right">{{ customer.ParticipantID }} </td>
                <td class="text-right">{{ customer.Stake | number }} </td>
                <td class="text-right">{{ customer.Win | number }} </td>
            </tr>
        </tbody>
    </table>
</div>